services:
  api:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - redis
    env_file:
      - ".env"
    environment:
      - REDIS_URL=redis://redis:6379
    networks:
      - app-network
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    expose:
      - "6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

volumes:
  redis_data:
    driver: local

networks:
  app-network:
    driver: bridge
